# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ─────────────────────────────
# Dependencies
# ─────────────────────────────
node_modules/
package-lock.json

# ─────────────────────────────
# Expo / React Native
# ─────────────────────────────
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ─────────────────────────────
# Native builds (Android / iOS)
# ─────────────────────────────
android/
ios/
.gradle/
build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ─────────────────────────────
# Metro bundler
# ─────────────────────────────
.metro-health-check*

# ─────────────────────────────
# Debug / Logs
# ─────────────────────────────
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ─────────────────────────────
# macOS / System
# ─────────────────────────────
.DS_Store
Thumbs.db
*.pem

# ─────────────────────────────
# Environment & Local Config
# ─────────────────────────────
.env
.env*.local.

# ─────────────────────────────
# TypeScript
# ─────────────────────────────
*.tsbuildinfo

# ─────────────────────────────
# Misc / Examples / Custom
# ─────────────────────────────
app-example/
app.json
